= layout("default.jade")
	h2 About Utah Scala Enthusiasts
	h3 History
	:markdown
		During Scala Days 2011 at the beautiful Stanford campus, Erik Peterson decided Scala was baked enough for
		the enterprise, even in large IT-conservative organizations. However, more support was needed to facilitate healthy adoption.

		To assist with that, Erik decided to launch a group in the Salt Lake City, Utah area. Overhearing a conversaton about the
		launch, Aaron Alred offered to jump in with his excellent Scala experience and support. Ian Robertson
		helped with the name and ideas. Chris Maki (UJUG Director) was very supportive with ideas and encouragement to get
		started. Alvaro Carrasco jumped in with our 1st website. Many have joined, presented, and assisted. Thank you!!!
	h3 What to Expect
	:markdown
		We're an easy going group that likes to mix up the format with presentations, code jams, flash talks, and head-to-head product challenges.
		We want to keep it interesting for beginners and experts. We're having fun and continue to learn just how fantastic Scala is in so many
		situations--web, scripting, testing, etc. Easy to learn, challenging to master, Scala has something for everyone. Come join us as often
		as you can. And bring your laptop ready to jump into the code.

		--Erik Peterson, UseScala Director

	img(src="web/image/erik-profile-bc-bw-tiny.jpg")