= layout("default.jade")
	h2 Meetings
	:markdown
		- <b>January 4, 2012 (Wednesday) - Scala Database Access - Schedule tentative</b>
			* OrientDB - Erik Peterson
			* O/R Broker - Jeff Shutt
			* ScalaQuery - Helena Edelson
			* Mongo - Aaron Allred
		- <b>December 1, 2011 - Cancelled due to weather</b>
		- <b>November 2011 - UseScala.org Code Jam</b>
			* Site redo in Unfiltered
		- <b>October 2011 - Web Development II</b>
			* Unfiltered Deep Dive - Erik Peterson"
			* ZK Java Framework with Scala - Erik Peterson
			* Wicket - Chris Hansen
		- <b>September 2011 - Web Development I</b>
			*	Lift - Aaron Allred
			* Punk
		- <b>August 2011</b>
			* REPL and ScalaConsole - Erik Peterson
			* Unfiltered Web Intro - Chris Hansen
			* Functional Programming Terms - Alvaro Carrasco
			* SBT - Tim Stokes
			* Scala Testing - Erik Peterson
		- <b>July 2011</b>
			* Scala is Here! - Erik Peterson
			* OO in the big, FP in the Small - Arron Allred*
			* Play! with Scala: Modern, Simple, Effective - Alvaro Carrasco