= layout("default.jade")
	:markdown
		* July 2011
			* Scala is Here! - Erik Peterson
			* OO in the big, FP in the Small - Arron Allred*
			* Play! with Scala: Modern, Simple, Effective - Alvaro Carrasco
		* August 2011
			* REPL and ScalaConsole - Erik Peterson
			* Unfiltered Web Intro - Chris Hansen
			* Functional Programming Terms - Alvaro Carrasco
			* SBT - Tim Stokes
			* Scala Testing - Erik Peterson
		* September 2011 - Web Development I"
			*	Lift - Aaron Allred
			* Punk
		*	October 2011, Web Development II
			* Unfiltered Deep Dive - Erik Peterson"
			* ZK Java Framework with Scala - Erik Peterson
			* Wicket - Chris Hansen
		* November 2011, UseScala.org Code Jam
		* December 2011, Scala Database Access
