= layout("default.jade")
	h2 Sponsors
	div.sponsors
		div.sponsor
			a(href='https://www.sendoutcards.com/' target='_blank')
			img(src='/public/images/sendoutcards.png')
		div.sponsor
			a(href='https://www.gravitydev.com/' target='_blank')
				img(src='/public/images/gravity.png')